@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000000;
  color: rgb(195, 236, 236);
}
.hero{
  margin: 2.5rem auto;
  width: 100%;
  color: rgb(195, 236, 236);
}
.images{
  height: 50vh;
}

.animated-gradient {
  background: linear-gradient(-45deg, #ff6ec4, #7873f5, #4ade80, #facc15);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
